aiogram==3.13.1
fastapi==0.115.0
uvicorn[standard]==0.30.6
arq==0.26.1
asyncpg==0.29.0
sqlalchemy==2.0.35
alembic==1.13.3
psycopg2-binary==2.9.9
boto3==1.35.24
pydantic==2.9.2
pydantic-settings==2.5.2
redis==5.0.8
requests==2.32.3
cvat-sdk==2.18.0
openpyxl==3.1.5
